<?xml version='1.0' encoding='UTF-8'?>
<slave>
  <name>jenkinsslave-01.example.com</name>
  <description></description>
  <remoteFS>/data/jenkins/slaves</remoteFS>
  <numExecutors>5</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.10">
    <host>192.168.50.20</host>
    <port>22</port>
    <credentialsId>7674108d-7421-412c-a99f-b84cd32e81c3</credentialsId>
    <maxNumRetries>0</maxNumRetries>
    <retryWaitTime>0</retryWaitTime>
  </launcher>
  <label>slave</label>
  <nodeProperties/>
  <userId>anonymous</userId>
</slave>
